body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7f7;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head {
  position: fixed;
  height: 100vh;
  vertical-align: middle;
  width: 200px;
  background-color: #112d4e;
  padding: 5px;
}

.Top {
  vertical-align: middle;
  width: 100%;
  margin-left: 200px;
  height: 70px;
  padding: 5px;
  border-bottom: 1px solid rgb(212, 209, 209);
}

.Top img {
  width: 45px;
  margin-top: 5px;
  right: 30px;
  position: fixed;
}

.logo {
  width: 100px;
  margin-top: 47px;
  margin-left: 52px;
  position: fixed;
}
.logo img {
  width: 75%;
}
.sidebuttons {
  margin-top: 200px;
}

.links {
  color: white;
}
.links h6 {
  display: block;
  margin-left: 55px;
  font-size: medium;
}

.expenses {
  width: 35px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #3f72af;
  background-color: #f9f7f7;
  position: fixed;
  left: 35px;
}
.links h5 {
  left: 75px;
  position: fixed;
  margin-left: 10px;
  margin-top: 9px;;
}


.income {
  width: 30px;
  border-radius: 4px;
  background-color: transparent;
  position: fixed;
  left: 15px;
}

.mobileLinks {
  color: black;
  float: right;
  position: relative;
  display: none;
}
.linkAdd {
  color: white;
}

.linkAdd img {
  width: 35px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #3f72af;
  background-color: #f9f7f7;
  position: fixed;
  margin-top: 80px;
  left: 35px;
}

.linkAdd h5 {
  left: 75px;
  position: fixed;
  margin-top: 88px;
  margin-left: 10px;
  
}

.ExpenseDiv {
  float: left;
  width: 30%;
  height: 500px;
  margin-top: 70px;
  margin-left: 60vw;
  z-index: 3;
  position: absolute;
  scrollbar-width: 1px;
  scroll-behavior: smooth;
  overflow: scroll;
  background-color: transparent;
}


.ExpenseDiv h4 {
  font-size: 16px;
  margin-left: 10px;
  margin-top: -30px;
  position: fixed;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.ExpenseDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ExpenseDiv {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.entries {
  margin-left: 2%;
  margin-right: 2%;
}


.remove:hover {
  background-color: #112d4e;
}



.items {
  float: right;
  border: 0.1mm solid #cdd0d1ef;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  margin: 5px 0px 2px 0px;
}

.typeamount {
  width: 85%;
  margin-left: 65px;
  text-align: left;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 16px;
}

.Tbutton {
  position: relative;
  margin-top: 3px;
  padding-top: 5px;
  margin-right: 40px;
  float: right;
}

.items h6 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.type {
  position: absolute;
  right: 90px;
  float: right;
  margin-top: 12px;

}

.etype img {
  width: 35px;
  padding: 7px;
  margin-top: 18px;
  border-radius: 30px;
  position: absolute;
  margin-left: 17px;
  border: 1px solid rgb(206, 201, 201);
}
.etype {
  display: inline;
}

.Donut {
  position: fixed;
  margin-left: 300px;
  margin-top: 40px;
  
}
.TotalExpenseDiv {
  position: fixed;
  margin-top: 270px;
  margin-left: 300px;
  border: 1px solid rgb(192, 189, 189);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: white;

}
.TotalExpenseDiv h5 {
  margin: 0;
  padding: 0;
}
.TotalExpenseDiv h1 {
  margin: 0;
  padding: 0;
}

.TotalIncomeDiv {
  position: fixed;
  margin-top: 270px;
  margin-left: 520px;
  border: 1px solid rgb(192, 189, 189);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: white;

}
.TotalIncomeDiv h5 {
  margin: 0;
  padding: 0;
}
.TotalIncomeDiv h1 {
  margin: 0;
  padding: 0;
}

