body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head {
  position: fixed;
  height: 100vh;
  vertical-align: middle;
  width: 200px;
  background-color: #112d4e;
  padding: 5px;
}

.logo {
  width: 100px;
  margin-top: 47px;
  margin-left: 52px;
  position: fixed;
}
.logo img {
  width: 75%;
}
.sidebuttons {
  margin-top: 200px;
}

.links {
  color: white;
}
.links h6 {
  display: block;
  margin-left: 55px;
  font-size: medium;
}

.expenses {
  width: 45px;
  padding: 10px;
  border-radius: 18px;
  border: 1px solid #3f72af;
  background-color: #f9f7f7;
  position: fixed;
  left: 75px;
}

.income {
  width: 30px;
  border-radius: 4px;
  background-color: transparent;
  position: fixed;
  left: 15px;
}

.mobileLinks {
  color: black;
  float: right;
  position: relative;
  display: none;
}

.linkAdd img {
  width: 45px;
  padding: 10px;
  border-radius: 18px;
  border: 1px solid #3f72af;
  background-color: #f9f7f7;
  position: fixed;
  margin-top: 80px;
  left: 75px;
}

.ExpenseDiv {
  float: left;
  margin-left: 600px;
  width: 50%;
  margin-top: 80px;
  margin-left: 600px;
  border-radius: 20px;
  z-index: -1;
  position: absolute;
  scroll-behavior: smooth;
  overflow: auto;
}

.entries {
  margin-left: 2%;
  margin-right: 2%;
}

.remove {
  width: 20px;
  position: absolute;
  right: 35px;
  margin-left: 20px;
  margin-top: 31px;
}

.items {
  float: right;
  border: 0.7mm solid #dbdfe0ef;
  width: 70%;
  border-radius: 10px;
  margin: 10px 0px 2px 0px;
}

.typeamount {
  width: 75%;
  margin-left: 65px;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.typeamount h6 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.type {
  float: right;
  margin-top: 11px;
}

.etype img {
  width: 35px;
  padding: 7px;
  margin-top: 25px;
  border-radius: 30px;
  position: absolute;
  margin-left: 20px;
  border: 1px solid rgb(206, 201, 201);
}
.etype {
  display: inline;
}

.Donut {
  position: fixed;
  margin-left: 300px;
  margin-top: 100px;
  
}
.TotalExpenseDiv {
  position: fixed;
  margin-top: 350px;
  margin-left: 300px;
  border: 1px solid rgb(192, 189, 189);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;

}
.TotalExpenseDiv h5 {
  margin: 0;
  padding: 0;
}
.TotalExpenseDiv h1 {
  margin: 0;
  padding: 0;
}
