body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7f7;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head {
  position: fixed;
  height: 100vh;
  vertical-align: middle;
  width: 150px;
  background-color: #112d4e;
  padding: 5px;
}

.Top {
  position: fixed;
  width: 100%;
  margin-left: 100px;
  height: 70px;
  margin-bottom: 30px;
  padding: 5px;
  border-bottom: 1px solid rgb(226, 223, 223);
  z-index: -3;
}

.Top img {
  width: 45px;
  margin-top: 5px;
  right: 30px;
  z-index: 1000;
  position: fixed;
}

.logo {
  width: 100px;
  margin-top: 47px;
  margin-left: 29px;
  position: fixed;
}
.logo img {
  width: 75%;
}
.sidebuttons {
  margin-top: 100px;
}

.links {
  color: white;
  padding-top: 80px;
  margin-left: 47px;
  position: absolute;
  
}
.links h6 {
  display: block;
  margin-left: 55px;
  font-size: medium;
}

/* .expenses {
  width: 35px;
  padding: 5px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #3f72af;
  background-color: #f9f7f7;
  position: fixed;
  left: 35px;
} */
.links h5 {
  left: 75px;
  position: fixed;
  margin-left: 10px;
  
}


.income {
  width: 30px;
  border-radius: 4px;
  background-color: transparent;
  position: fixed;
  left: 15px;
}

.mobileLinks {
  color: black;
  float: right;
  position: relative;
  display: none;
}
.linkAdd {
  color: white;
  position: absolute;
  margin-top: 150px;
  margin-left: 47px;
}

.linkAdd h5 {
  left: 75px;
  position: fixed;
  margin-top: 88px;
  margin-left: 10px;
  
}

.ExpenseDiv {
  float: left;
  width: 30%;
  height: 540px;
  margin-top: 120px;
  margin-left: 50vw;
  z-index: 3;
  position: absolute;
  scrollbar-width: 1px;
  scroll-behavior: smooth;
  overflow: scroll;
  background-color: transparent;
}


.ExpenseDiv h4 {
  font-size: 16px;
  margin-left: 10px;
  margin-top: -30px;
  position: fixed;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.ExpenseDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ExpenseDiv {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.entries {
  margin-left: 2%;
  margin-right: 2%;
}


.remove:hover {
  background-color: #112d4e;
}



.items {
  float: right;
  border: 0.1mm solid #cdd0d1ef;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  margin: 5px 0px 2px 0px;
}

.typeamount {
  width: 85%;
  margin-left: 65px;
  text-align: left;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 16px;
}

.Tbutton {
  position: relative;
  margin-top: 3px;
  padding-top: 5px;
  margin-right: 40px;
  float: right;
}

.items h6 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.type {
  position: absolute;
  right: 90px;
  float: right;
  margin-top: 12px;

}

.etype img {
  width: 35px;
  padding: 7px;
  margin-top: 18px;
  border-radius: 30px;
  position: absolute;
  margin-left: 17px;
  border: 1px solid rgb(206, 201, 201);
}
.etype {
  display: inline;
}

.Donut {
  position: fixed;
  margin-left: 17%;
  width: 370px;
  margin-top: 90px;
  
}
.TotalExpenseDiv {
  position: fixed;
  margin-top: 300px;
  border: 1px solid rgb(192, 189, 189);
  padding: 10px;
  padding-left: 20px;
  width: 230px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: white;

}
.TotalExpenseDiv h5 {
  margin: 0;
  padding: 0;
}
.TotalExpenseDiv h1 {
  margin: 0;
  font-size: 30px;
  display: inline;
  padding: 0;
}

.TotalAll {
  margin-left: 14vw;
  margin-top: 30px;
  position: absolute;
}

.TotalIncomeDiv {
  position: fixed;
  margin-top: 300px;
  margin-left: 250px;
  border: 1px solid rgb(192, 189, 189);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 210px;
  border-radius: 20px;
  background-color: white;

}
.TotalIncomeDiv h5 {
  margin: 0;
  padding: 0;
}
.TotalIncomeDiv h1 {
  margin: 0;
  font-size: 30px;
  display: inline;
  padding: 0;
}
.TotalExpenseDiv img {
  display: inline; 
  width: 30px;
  padding: 2px; 
  margin: 0; 
  border: 1px solid green;
  border-radius: 60%; 
}
.TotalIncomeDiv img {
  display: inline; 
  width: 30px;
  padding: 2px; 
  margin: 0; 
  border: 1px solid rgb(83, 154, 221);
  border-radius: 60%; 
}

@media only screen and (max-width: 1405px) {
  .Donut {
    position: fixed;
    margin-left: 30%;
    margin-top: 110px;
    
  }
  .ExpenseDiv {
    position: relative;
    width: 50%;
    height: 540px;
    margin-top: 500px;
    margin-left: 33vw;
    z-index: 3;
    scrollbar-width: 1px;
    scroll-behavior: smooth;
    overflow: scroll;
    background-color: transparent;
  }
  .TotalAll {
    margin-left: 38vw;
    margin-top: 50px;
    position: absolute;
  }

}


@media only screen and (max-width: 1044px) {
  .Donut {
    position: fixed;
    margin-left: 30%;
    margin-top: 100px;
    
  }
  .ExpenseDiv {
    position: relative;
    width: 50%;
    height: 540px;
    margin-top: 470px;
    margin-left: 35vw;
    z-index: 3;
    scrollbar-width: 1px;
    scroll-behavior: smooth;
    overflow: scroll;
    background-color: transparent;
  }
  .TotalAll {
    margin-left: 38vw;
    margin-top: 70px;
    position: absolute;
  }
  .TotalExpenseDiv {
    position: fixed;
    margin-top: 270px;
    width: auto;
    border: 1px solid rgb(192, 189, 189);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: white;
  
  }

  .TotalIncomeDiv {
    position: fixed;
    margin-top: 270px;
    margin-left: 230px;
    width: auto;
    border: 1px solid rgb(192, 189, 189);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: white;
  
  }
  .TotalIncomeDiv h5 {
    margin: 0;
    padding: 0;
  }
  .TotalIncomeDiv h1 {
    margin: 0;
    font-size: 30px;
    padding: 0;
  }
  .TotalExpenseDiv h5 {
    margin: 0;
    padding: 0;
  }
  .TotalExpenseDiv h1 {
    margin: 0;
    font-size: 30px;
    display: inline;
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .head {
    position: fixed;
    height: 60px;
    vertical-align: middle;
    width: 100%;
    background-color: #112d4e;
    padding: 5px;
  }
  .Top {
    display: none;
    width: 100%;
    margin-left: 200px;
    height: 70px;
    padding: 5px;
    border-bottom: 1px solid rgb(226, 223, 223);
  }
  .Donut {
    position: fixed;
    margin-left: 2vw;
    width: 320px;
    margin-top: 100px;
    
  }
  .links {
    display: none;
  }
  
  .linkAdd {
    display: none;
    width: 35px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #3f72af;
    background-color: #f9f7f7;
    position: fixed;
    margin-top: 80px;
    left: 35px;
  }
  .expenses {
    display: none;
    width: 35px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #3f72af;
    background-color: #f9f7f7;
    position: fixed;
    left: 35px;
  }
  .logo {
    width: 32px;
    margin-top: 5px;
    margin-left: 18px;
    position: fixed;
  }
  .logo img {
    width: 100%;
  }

  .ExpenseDiv {
    position: absolute;
    width: 81%;
    height: 540px;
    margin-top: 450px;
    margin-right: 13vw;
    margin-left: 9vw;
    z-index: 3;
    scrollbar-width: 1px;
    scroll-behavior: smooth;
    overflow: scroll;
    background-color: transparent;
  }
  .TotalAll {
    margin-left: 9vw;
    margin-top: 0;
    margin-right: 9vw;
    position: relative;
  }
  .TotalExpenseDiv {
    position: fixed;
    margin-top: 320px;
    width: auto;
    border: 1px solid rgb(192, 189, 189);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: white;
  
  }

  .TotalIncomeDiv {
    position: fixed;
    margin-top: 320px;
    margin-left: 45vw;
    width: auto;
    border: 1px solid rgb(192, 189, 189);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: white;
  
  }

  .TotalExpenseDiv img {
    display: inline; 
    width: 20px;
    padding: 2px; 
    margin: 0; 
    border: 1px solid green;
    border-radius: 60%; 
  }
  .TotalIncomeDiv img {
    display: inline; 
    width: 20px;
    padding: 2px; 
    margin: 0; 
    border: 1px solid green;
    border-radius: 60%; 
  }

  .TotalIncomeDiv h5 {
    font-size: 13px;
    padding: 0;
  }
  .TotalIncomeDiv h1 {
    margin: 0;
    font-size: 23px;
    padding: 0;
  }
  .TotalExpenseDiv h5 {
    margin: 0;
    font-size: 13px;
    padding: 0;
  }
  .TotalExpenseDiv h1 {
    margin: 0;
    font-size: 23px;
    display: inline;
    padding: 0;
  }
  .items {
    float: right;
    border: 0.1mm solid #cdd0d1ef;
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    margin: 5px 0px 2px 0px;
  }
  .items h6 {
    font-size: 12px;
    width: 22vw;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .Tbutton {
    position: relative;
    margin-top: 3px;
    padding-top: 5px;
    margin-right: 45px;
    float: right;
  }
}