body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head {
  position: absolute;
  height: 100vh;
  vertical-align: middle;
  width: 200px;
  background-color: #001d4d;
  padding: 5px;
}

.logo {
  width: 100px;
  margin-top: 47px;
  margin-left: 47px;
  position: fixed;
}
.logo img {
  width: 75%;
}
.sidebuttons {
  margin-top: 200px;
}

.links {
  color: white;
}
.links h6 {
  display: block;
  margin-left: 55px;
  font-size: medium;
}

.expenses {
  width: 30px;
  border-radius: 4px;
  background-color: transparent;
  position: fixed;
  left: 15px;
}

.income {
  width: 30px;
  border-radius: 4px;
  background-color: transparent;
  position: fixed;
  left: 15px;
}

.mobileLinks {
  color: black;
  float: right;
  position: relative;
  display: none;
}

.linkAdd button {
  margin-left: 20px;
  margin-top: 30px;
  padding: 7px 20px 7px 20px;
  border-radius: 7px;
}

.ExpenseDiv {
  float: left;
  margin-left: 600px;
  width: 50%;
  margin-top: 80px;
  margin-left: 700px;
  border-radius: 20px;
  z-index: -1;
  position: absolute;
  scroll-behavior: smooth;
  overflow: auto;
}

.entries {
  margin-left: 2%;
  margin-right: 2%;
}

.remove {
  width: 27px;
  position: absolute;
  right: 35px;
  margin-left: 20px;
  margin-top: 25px;
}

.items {
  float: right;
  width: 100%;
  border: 0.7mm solid #dbdfe0ef;
  width: 80%;
  border-radius: 10px;
  margin: 10px 0px 2px 0px;
}

.typeamount {
  width: 75%;
  margin-left: 70px;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.typeamount h6 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.type {
  float: right;
  margin-top: 14px;
}

.etype img {
  width: 55px;
  padding: 5px;
  margin-top: 20px;
  border-radius: 10px;
  position: absolute;
  padding-left: 20px;
}
.etype {
  display: inline;
}
